<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    <h1>This is the homepage</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam earum
      provident aliquam possimus ut, illo asperiores quo. Sint minus
      repellendus, iusto eos magni cupiditate, explicabo sequi, velit aspernatur
      quo consectetur!
    </p>

    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Obcaecati, modi
      tenetur officia aperiam, officiis sed totam laborum beatae praesentium
      animi ipsum deserunt, iure eligendi amet deleniti consequuntur voluptate
      fugiat velit.
    </p>
  </body>
</html>
